@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
#header{
    width: 100%;
    height: 80px;
    background-color: #ffff;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 36px;
    height: 36px;
    margin-left: 100px;
}
.menu-desktop {
    width: 100%;
    margin-right: 100px;
    display: flex;
    justify-content: flex-end;
  }
.menu-desktop ul{
      display: flex;      
}
.menu-desktop li {
    list-style-type: none;
    cursor: pointer;
    margin-right: 24px;
}
.menu-desktop  a{
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: #060A24;
    font-size: 16px;
    line-height: 28px;
}   
.menu-desktop a:hover {
    color: #00f3bb;
    text-decoration: line-through;
}
#hamburger{
    display: none;
}
.menu-mobile-open{
    margin: 0;
    top: 62px;
    display: none;
    position: absolute;
    z-index: 1;
    background: #0000EC;
    width: 100%;
    height: 224px;
    color: #fff;    
    list-style: none; 
    flex-direction: column;
    justify-content: space-around;
    animation: animation-menu-mobile-open 0.8s;
}
/* .menu-mobile-close{
    margin: 0;
    top: 62px;
    display: none;
    position: absolute;
    z-index: 1;
    background: #0000EC;
    width: 100%;
    height: 224px;
    color: #fff;    
    list-style: none; 
    flex-direction: column;
    justify-content: space-around;
} */
.menu-mobile-open li{
    list-style: none;
    cursor: pointer;
    margin-left: 15px;
}
.menu-mobile-open  a{
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;  
} 
.btn-label{
    display: none;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: 20px;
}
.btn-label span{
    border-radius: 5px;
    background: rgb(0, 0, 0);
    display: block;
    width: 60%;
    height: 2px;
}
.menu-open{
    display: none;
}
.menu-open .top-line{
    animation-name: top-line-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.menu-open .middle-line{
    animation-name: middle-line-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.menu-open .bottom-line{
    animation-name: bottom-line-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.menu-close .top-line{
    animation-name: top-line-animation-close;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.menu-close .middle-line{
    animation-name: middle-line-animation-close;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.menu-close .bottom-line{
    animation-name: bottom-line-animation-close;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* funciones checkbox */
#hamburger:checked ~ .menu-mobile-open{
    display: flex;
}
#hamburger:checked ~ label .menu-open{
    display: block;
}
#hamburger:checked ~ label .menu-close{
    display: none;
}
/* #hamburger:not(#hamburger:checked) ~ .menu-mobile-close{
    animation: animation-menu-mobile-close 0.8s;
    display: flex;
    animation-fill-mode: forwards;
} */










.punto{
    color: #0000EC;
}
.texthead{
    margin-top: 140px;
    margin-left: 13.9%;
}
.contentexto {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;

}
.texthead .contentexto h1 {
    display: inline;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 64px;
}
.rayado {
    text-decoration: line-through;
}
.texthead p {
    font-family: "IBM Plex Sans", monospace;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-left: 6px;
    width: 628px;
    align-content: stretch;
}
.contenedorp {
    width: fit-content;
    display: block;
    position: relative;
}
.buttonhead{
    display: flex;
    position: relative;
    height: 98px;
    align-items: flex-end;
}
.buttonhead > input {
    width: 226px;
    height: 56px;
    color: #000;
    background: #00F3BB;
    border: none;
    font-family: "IBM Plex Sans", monospace;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.buttonhead > input:hover {
    background-image: linear-gradient(-120deg, #0000FE, #00F0B8);
    color: #ffffff;
}
.fondo{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 750px;
    background: linear-gradient(173.2deg, #0000ff 18%, #0000a3 87%);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
}
#episodios {
    margin-left: 13.9%;
    position: relative;
    top: 100px;
    font-size: 48px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.contenedormusica {
    position: relative;
    width: 100%;
    height: 642px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.boxmusica {
    height: 620px;
}
.contenedormusica > iframe {
    display: block;
    position: relative;
    width: 420px;
    height: 200px;
    padding-bottom: 30px;
}
.nosotros {
    display: flex;
    justify-content: center;  
}
.nosotros > img {
    position: relative;
    width: 440px;
}
.venimos {
    align-self: center;
}
.nosotros .venimos h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 58px;
    margin-bottom: 20px;
    color: #060A24;

}
.nosotros .venimos p {
    width: 468px;
    font-family: "IBM Plex Sans";
    margin: 20px 0 20px 0;
    font-size: 22px;
    line-height: 24px;
    color: #060A24;
}
.invitados {
    margin-top: 64px;
}
.invitados h2{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 48px;
    margin-left: 13.9%;
    margin-right: 16px;
}
.contenedorfotos {
    display: flex;
    margin-top: 40px;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.invitados .contenedorfotos img {
    position: relative;
    width: 33.3%;
}



.temas {
    margin-top: 48px;
    margin-left: 16px;
    margin-right: 16px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.temas h2 {
    font-family: "IBM Plex Sans", sans-serif;
    margin-left: 13.9%;
    font-size: 48px;
    font-weight: 400;
    color: #060A24;
}
.contedortemas {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.icontopic {
    display: flex;
    width: 260px;
    height: 60px;
    flex-flow: column;
    text-align: center;
}
.icontopic h4{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #060A24;
}


.ultima-novedades {
    height: 300px;
}
.ultima-novedades .fondo{
    height: 300px;
}
.contenidoultimo {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenidoultimo h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    margin-bottom: 13px;
    color: #ffffff;
}
.contenidoultimo .buttomfin{
    width: 345px;
    height: 56px;
    margin-bottom: 13px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    background: #00F3BB;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.contenidoultimo .buttomfin:hover{
    background-image: linear-gradient(-120deg, #0000FE, #00F0B8);
    color: #ffffff;
}
.ultima-novedades .fondo {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
}
.piepagina{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 31px;
    padding-left: 16px;
    padding-right: 16px;
}
.piepagina p {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 16px;
    text-align: center;
}
.iconspie i{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 34px;
}
.fa {
    color: #060A24;
    width: 18px;
    height: 28px;
}
.fa:hover{
    color: #00f3bb;
}
@keyframes animation-menu-mobile-open {
    0% {
        margin-left: 100%;
        width: 0%;
    }
    100% {
        margin-left: 0%;    
        width: 100%;
    }
}
/* @keyframes animation-menu-mobile-close {
    0% {
        margin-left: 0;
        width: 100%;
        display: flex;
    }
    100% {
        margin-left: 100%;
        width: 0%;
        display: none;     
    }
} */
@keyframes top-line-animation{
    0%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg); 
    }
    50%, 100%{
        margin: 0 auto;
        transform: translateY(13px) rotate(-45deg);
        width: 70%;
    }
}
@keyframes bottom-line-animation{
    0%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg); 
    }
    50%, 100%{
        margin: 0 auto;
        transform: translateY(9px) rotate(45deg);
        width: 70%;
    }
}
@keyframes middle-line-animation{
    0%{
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;

    }
}
@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(13px) rotate(-45deg);
    }

    50%, 100%{
        margin: 5px auto;
        transform: translateY(0) rotate(0deg);
    }
}
@keyframes middle-line-animation-close{
    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    20%, 100%{
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}
@keyframes bottom-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(9px) rotate(45deg);
    }
    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@media screen and (min-width : 1600px) {
    .contenedormusica > iframe {
        width: 800px;
    }
}
@media screen and (max-width: 650px){
    .menu-desktop {
        display: none;
    }
    #header {
        width: 100%;
        height: 62px;
    }
    .btn-label{
        display: block;
        margin-right: 16px;
    }
    #logo{
        width: 30px;
        height: 30px;
        margin-left: 16px;
    }
    .texthead{
        margin-top: 20px;
        margin-left: 2%;
    }
    .texthead .contentexto h1{
        font-size: 36px;
        font-weight: 400;
    }  
    .texthead p{
        font-size: 16px;
        width: 100%;
    }
    .buttonhead > input{
        width: 100%;
        margin-right: 2%;
    }
    .boxmusica .fondo{
        clip-path: polygon(0 8%, 100% 5%, 100% 92%, 0% 96%);
        height: 700px;
    }
    #episodio {
        margin-top: 20px;
    }
    #episodios{
        font-size: 36px;
        font-weight: 400;
    }
    .boxmusica, .fondo, .contenedormusica{
        height: 700px;
    }
    .contenedormusica iframe{
        width: 296px;
        height: 200px;
    }
    .nosotros{
        flex-direction: column;
        align-items: center;
    }
    .nosotros > img{
        width: 80%;
    }
    .venimos{
        width: 85%;
    }
    .nosotros .venimos h2 {
        font-size: 36px;
        font-weight: 500;
    }
    .nosotros .venimos p {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
    }
    .invitados h2{
        font-size: 36px;
        margin: 7.5%;
    }
    .invitados .contenedorfotos img{
        width: 100%;
    }
    .temas{
        height: 100%;
    }
    .temas h2{
        font-size: 36px;
        font-weight: 500;
    }
    .contedortemas{
        justify-content: center;
        flex-direction: column;
        align-items: center;     
        height: 100%;
    }
    .contedortemas .icontopic{
        padding-bottom: 200px;
    }
    .ultima-novedades{
        margin-top: 150px;
    }
    .ultima-novedades .fondo {
        clip-path: polygon(0 20%, 100% 10%, 100% 100%, 0 100%);
    }
    .contenidoultimo h2{
        font-size: 36px;
        text-align: center;
        padding-top: 60px;
        font-weight: 400;
        width: 90%;
    }
    .contenidoultimo .buttomfin{
        width: 90%;
    }
    .piepagina{
        flex-direction: column;
        align-items: center;
    }
    .iconspie{
        padding-top: 10px;
    }
    .iconspie .fa-telegram{
        margin: 0;
    }
    .comamonda, .men{
        display: none;
    }
}
@media screen and (max-width: 591px){
    .boxmusica .fondo{
        clip-path: polygon(0 8%, 100% 5%, 100% 92%, 0% 96%);
        height: 1000px;
    }.boxmusica, .fondo, .contenedormusica{
        height: 1000px;
    }
    .contenedormusica iframe{
        top: 2px;
        width: 296px;
        height: 200px;
    }
}
@media screen and (min-width: 650px){
    #hamburger:checked ~ .menu-mobile-open{
        display: none;
    }
} 
